/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}
body {
  padding: 4rem;
  font-family: "Lato", sans-serif;
  font-weight: 40rem;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
}

.header {
  position: relative;
  background-image: linear-gradient(
      to right,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo {
  height: 3.5rem;
}

.text-box {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  text-align: center;
}

.heading-primary {
  margin-bottom: 8rem;
}

.heading-primary-main {
  display: block;
  font-size: 9rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  margin-bottom: 1rem;
}

.heading-primary-sub {
  display: block;
  font-size: 3.2rem;
  font-weight: 7rem;
  letter-spacing: 1.74rem;
  animation-name: moveInRight;
  animation-duration: 1s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.btn {
  border-radius: 10rem;
  padding: 2rem 6rem;
}

.btn-white {
}

.btn:link,
.btn:visited {
  color: #777;
  background-color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  display: inline-block;
}


.btn:hover {
  transform: translateY(-10px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(1rem);
}
